<script type="text/javascript">
$(document).ready(function () {
  $(".city_select").change(function () {
    select_city = $(".city_select option:selected").text();
    $("#output_city").text('東京都 ' + select_city);
  })
})
</script>

<% if @facility.errors.any? %>
  <div id="error_explanation">
    <h2><%= @facility.errors.count %>件のエラーがあります。</h2>
    <ul>
    <% @facility.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_with(model: @facility, local: true ,url: choose_new_or_edit) do |form| %>
  <div>
    <div>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <div>
      <%= form.label :city_id, "市区町村" %>
      <%= form.select :city_id, City.all.map{|c| [c.name, c.id]}, {include_blank: '選択なし'}, class:"city_select" %>
    </div>
    <div>
      <%= form.label :drop %>
      <%= form.select :drop, Facility.drops.keys.map {|k| [I18n.t("enums.facility.drop.#{k}"), k]} %>
    </div>
    <div>
      <%= form.label :parking %>
      <%= form.select :parking, Facility.parkings.keys.map {|k| [I18n.t("enums.facility.parking.#{k}"), k]} %>
    </div>
    <div>
      <%= form.label :shower %>
      <%= form.select :shower, Facility.showers.keys.map {|k| [I18n.t("enums.facility.shower.#{k}"), k]} %>
    </div>
    <div>
      <%= form.label :recordable %>
      <%= form.select :recordable, Facility.recordables.keys.map {|k| [I18n.t("enums.facility.recordable.#{k}"), k]} %>
    </div>
    <div>
      <%= form.label :visiter %>
      <%= form.select :visiter, Facility.visiters.keys.map {|k| [I18n.t("enums.facility.visiter.#{k}"), k]} %>
    </div>
    <div>
      男性一ヶ月分の<%= form.label :monthly_fee %>(半角入力)
      <%= form.text_number :monthly_fee %>円
    </div>
    <div>
      <%= form.label :accessible_ten_min %>
      <%= form.select :accessible_ten_min, Facility.accessible_ten_mins.keys.map {|k| [I18n.t("enums.facility.accessible_ten_min.#{k}"), k]} %>
    </div>
    <div>
      <%= form.label :trainer %>
      <%= form.select :trainer, Facility.trainers.keys.map {|k| [I18n.t("enums.facility.trainer.#{k}"), k]} %>
    </div>
    <div>
      <%= form.label :open_all_time %>
      <%= form.select :open_all_time, Facility.open_all_times.keys.map {|k| [I18n.t("enums.facility.open_all_time.#{k}"), k]} %>
    </div>
    <div>
      <%= form.label :station %>
      <%= form.text_field :station %>駅
    </div>
    <div>
      <%= form.label :description_station %>
      <%= form.text_field :description_station %>
    </div>
    <div>
      <%= form.label :tags, "タグ" %><br>
      <%= collection_check_boxes(:facility, :tag_ids, Tag.all, :id, :name) do |b| %>
        <%= b.label { b.check_box + b.text } %>
      <% end %>
    </div>
    <div>
      <%= form.label :address %>
      <div id="output_city"></div>
      <%= form.text_field :address %>
    </div>
    <div>
      <%= form.label :tell %>(半角入力)
      <%= form.text_field :tell %>
    </div>
    <div>
      <%= form.label :hp_url %>
      <%= form.text_field :hp_url %>
    </div>
    <div>
      <%= form.label :regular_holiday %>
      <%= form.text_field :regular_holiday %>
    </div>
    <div>
      <%= form.label :business_hours %>
      <%= form.text_field :business_hours %>
    </div>
    <div>
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>
    <div>
      <%= form.submit %>
    </div>
  </div>
<% end %>
<p><%= link_to '施設一覧へ', facilities_path %></p>
