<h1>施設検索</h1>
<%= search_form_for @q, url: search_facilities_path do |f| %>

  <div>
    <%= f.label :name_cont, "施設名" %>
    <%= f.search_field :name_cont %>
  </div>
  <div>
    <%= f.label :city_id_in, '地区町村' %>
    <div class="row">
      <%= f.collection_check_boxes :city_id_in, @cities, :id, :name do |c| %>
      <div class="col-3 text-center">
        <%= c.label %>
        <%= c.check_box %>
      </div>
      <% end %>
    </div>
  </div>


  <%= f.submit %>
<% end %>

<table>
  <tr>
    <th>施設名</th>
  </tr>
<% @facilities.each do |facility| %>
  <tr>
    <td><%= facility.name %></td>
    <td><%= facility.city.name %></td>
    <td><%= link_to '詳細を確認', facility_path(facility.id) %></td>
  </tr>
<% end %>
</table>
