<h1>施設検索</h1>
<%= search_form_for @q, url: search_facilities_path do |f| %>

  <div>
    <%= f.label :name_cont, "施設名" %>
    <%= f.search_field :name_cont %>
  </div>
  <div>
    <%= f.label :city_id_in, '地区町村' %>
    <div class="row">
      <%= f.collection_check_boxes :city_id_in, @cities, :id, :name do |c| %>
      <div class="col-3 text-center">
        <%= c.check_box %>
        <%= c.label %>
      </div>
      <% end %>
    </div>
  </div>
  <div>
    <%= f.radio_button :drop_gteq, 2 %>床引きデッド可能
  </div>
  <div>
    <%= f.radio_button :parking_eq, 1 %>駐車場あり
  </div>
  <div>
    <%= f.radio_button :shower_eq, 1 %>シャワーあり
  </div>
  <div>
    <%= f.radio_button :recordable_eq, 1 %>動画撮影可能
  </div>
  <div>
    <%= f.radio_button :visiter_eq, 1 %>ビジター利用可能
  </div>
  <div>
    <%= f.radio_button :accessible_ten_min_eq, 1 %>徒歩10分圏内
  </div>
  <div>
    <%= f.radio_button :trainer_eq, 1 %>トレーナー在籍
  </div>
  <div>
    <%= f.radio_button :open_all_time, 1 %>夜間営業あり
  </div>
  <div>
    月会費<%= f.number_field :monthly_fee_lteq %>円以下
  </div>


  <%= f.submit %>
<% end %>

<table>
  <tr>
    <th>施設名</th>
  </tr>
<% @facilities.each do |facility| %>
  <tr>
    <td><%= facility.name %></td>
    <td><%= facility.city.name %></td>
    <td><%= link_to '詳細を確認', facility_path(facility.id) %></td>
  </tr>
<% end %>
</table>
