<h1><%= @facility.name %>詳細</h1>
<p>地域名：<%= @facility.city.name %></p>

<h3>設備・特徴</h3>
<table>
  <tr>
    <td>ドロップ可否</td>
    <td><%= @facility.drop_i18n %></td>
  </tr>
  <tr>
    <td>駐車場の有無</td>
    <td><%= @facility.parking_i18n %></td>
  </tr>
  <tr>
    <td>シャワーの有無</td>
    <td><%= @facility.shower_i18n %></td>
  </tr>
  <tr>
    <td>撮影の可否</td>
    <td><%= @facility.recordable_i18n %></td>
  </tr>
  <tr>
    <td>夜間の営業</td>
    <td><%= @facility.open_all_time_i18n %></td>
  </tr>
  <tr>
    <td>ビジター利用の可否</td>
    <td><%= @facility.visiter_i18n %></td>
  </tr>
  <tr>
    <td>駅から徒歩10分以内</td>
    <td><%= @facility.accessible_ten_min_i18n %></td>
  </tr>
  <tr>
    <td>トレーナーの有無</td>
    <td><%= @facility.trainer_i18n %></td>
  </tr>
  <tr>
    <td>月会費(男性一ヶ月)</td>
    <% if @facility.monthly_fee.blank? %>
      <td>不明</td>
    <% else %>
      <td><%= @facility.monthly_fee %>円</td>
    <% end %>
  </tr>

</table>

<p>ついているタグ</p>
<ul>
  <% @facility.tags.each do |tag| %>
    <li><%= tag.name %></li>
  <% end %>
</ul>

<h3>備考</h3>
<p><%= @facility.description %></p>

<h3>施設概要</h3>
<table>
  <tr>
    <td>施設名：<%= @facility.name %></td>
    <td>住所：<%= @facility.address %></td>
  </tr>
  <tr>
    <td>電話番号：
      <% if @facility.tell.blank? %>
       登録なし
      <% else %>
        <%= @facility.tell %>
      <% end %>
    </td>
    <td>ホームページ：
      <% if @facility.hp_url.blank? %>
        登録なし
      <% else %>
        <%= @facility.hp_url %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>最寄り駅：
      <% if @facility.station.blank? %>
        登録なし
      <% else %>
        <%= @facility.station %>駅
      <% end %>
    </td>
    <td>駅からの距離：
      <% if @facility.description_station.blank? %>
        登録なし
      <% else %>
        <%= @facility.description_station %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>定休日：
      <% if @facility.regular_holiday.blank? %>
        登録なし
      <% else %>
        <%= @facility.regular_holiday %>
      <% end %>
    </td>
    <td>営業時間：
      <% if @facility.business_hours.blank? %>
        登録なし
      <% else %>
        <%= @facility.business_hours %>
      <% end %>
    </td>
  </tr>

</table>

<p><%= link_to '施設情報を編集する', edit_facility_path(@facility.id) %></p>
<p><%= link_to '施設情報を削除する', facility_path(@facility.id), method: :delete, data: { confirm: '本当に削除していいですか？'} %></p>
<p><%= link_to '施設一覧へ', facilities_path %></p>
