<h3>■レビューを書く</h3>

<% if review.errors.any? %>
  <div id="error_explanation">
    <h2><%= review.errors.count %>件のエラーがあります。</h2>
    <ul>
    <% review.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="rating-box border">
  <%= form_with model: [facility, review], url: facility_reviews_path(facility), remote: true do |f| %>
    <div class="free_weight">
      <p>フリーウェイトエリアの評価</p>
      <div class="main-rating">
        <div class="ratings">
          <span class="fa fa-star-o" id ="star"></span>
          <span class="fa fa-star-o" id ="star"></span>
          <span class="fa fa-star-o" id ="star"></span>
          <span class="fa fa-star-o" id ="star"></span>
          <span class="fa fa-star-o" id ="star"></span>
        </div>
        <div>
            <span class="rating-value-display">0</span>/5
        </div>
      </div>
      <%= f.hidden_field :free_weight, class: 'rating-value' %>
    </div>

    <div class="machine">
      <p>マシンエリアの評価</p>
      <div class="main-rating">
        <div class="ratings">
          <span class="fa fa-star-o" id ="star"></span>
          <span class="fa fa-star-o" id ="star"></span>
          <span class="fa fa-star-o" id ="star"></span>
          <span class="fa fa-star-o" id ="star"></span>
          <span class="fa fa-star-o" id ="star"></span>
        </div>
        <div>
            <span class="rating-value-display">0</span>/5
        </div>
      </div>
      <%= f.hidden_field :machine, class: 'rating-value' %>
    </div>

    <div class="caedio">
      <p>有酸素エリアの評価</p>
      <div class="main-rating">
        <div class="ratings">
          <span class="fa fa-star-o" id ="star"></span>
          <span class="fa fa-star-o" id ="star"></span>
          <span class="fa fa-star-o" id ="star"></span>
          <span class="fa fa-star-o" id ="star"></span>
          <span class="fa fa-star-o" id ="star"></span>
        </div>
        <div>
            <span class="rating-value-display">0</span>/5
        </div>
      </div>
      <%= f.hidden_field :caedio, class: 'rating-value' %>
    </div>

    <%= f.hidden_field :facility_id, value: facility.id %>
    <div class="p-2">
        <%= f.text_area :content, size: "40x4", placeholder: "自由にコメントをかいてください(任意記述)" %>
    </div>

    <div class="action p-3">
      <%= f.submit "保存", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<%= javascript_include_tag "reviews.js" %>
