<h3>各項目の評価</h3>
<p><%= reviews.count %>件のレビュー</p>
<div>
  フリーウエイトエリア : <%= facility.avg_score(:free_weight) %>点
  <div class="total-rating">
    <div class="star-rating-front" style="width: <%= facility.avg_score_percentage(:free_weight) %>%">★★★★★</div>
    <div class="star-rating-back">★★★★★</div>
  </div>
</div>

<div>
  マシーンエリア : <%= facility.avg_score(:machine) %>点
  <div class="total-rating">
    <div class="star-rating-front" style="width: <%= facility.avg_score_percentage(:machine) %>%">★★★★★</div>
    <div class="star-rating-back">★★★★★</div>
  </div>
</div>

<div>
  有酸素エリア : <%= facility.avg_score(:caedio) %>点
  <div class="total-rating">
    <div class="star-rating-front" style="width: <%= facility.avg_score_percentage(:caedio) %>%">★★★★★</div>
    <div class="star-rating-back">★★★★★</div>
  </div>
</div>
