<!DOCTYPE html>
<html>
  <head>
    <title>GymSearch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/f7ffec54d1.js" crossorigin="anonymous"></script>
  </head>
  <body class="" style="background-color: silver;">
    <div class="container">
      <nav class="navbar navbar-light bg-white border mt-2">
        <%= link_to 'Tokyo Gym Search', facilities_path, class:"navbar-brand font-weight-bold px-2" %>
        <div class="pull-left">
          <% if user_signed_in? %>
            <%= link_to '新規施設登録', new_facility_path, class:"mr-3 link" %>
            <%= link_to "マイページ", user_path(id: current_user.id), class:"mr-3 link" %>
              <%= link_to destroy_user_session_path, method: :delete, class:"mr-3 link" do %>
                ログアウト
              <% end %>
          <% else %>
            <%= link_to new_user_session_path, class:"mr-3 link" do %>
              ログイン
            <% end %>
            <%= link_to new_user_registration_path, class:"mr-3 link" do %>
                新規登録
            <% end %>
          <% end %>
        </div>
      </nav>
      <% flash.each do|key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      <%= yield %>
      </div>
  </body>
</html>
